<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Fiesta · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="flex flex-col md:flex-none bg-gray-100"
    :class="{ 'overflow-x-hidden overflow-y-hidden': isDialogOpen }"
    x-data="{ 'isDialogOpen': false }"
    @keydown.escape="isDialogOpen = false">

    <header class="shadow-xl">
      <section class="bg-white py-6">
        <div class="flex px-12 items-center">
          <div class="w-1/2">
            <h3 class="float-left">Fiesta.io</h3>
          </div>
          <div class="w-1/2 flex justify-end -mx-2">
            <%= if current_user(@conn) do %>
              <%= button "Go to Dashboard", to: Routes.dashboard_path(@conn, :index), method: :get,
                class: "p-1 md:p-2 border-4 border-black font-semibold hover:text-white hover:bg-black" %>
            <% else %>
              <%= button "Sign in", to: "#", class: "btn btn-outline-gray" %>
            <% end %>
          </div>
        </div>
      </section>
    </header>

    <div class="flex-col md:flex md:flex-row-reverse flex-wrap">
      <div class="w-full bg-gray-100">
        <main role="main">
          <%= @inner_content %>
        </main>
      </div>
    </div>

    <footer class="bg-gray-900 text-white mx-0 md:mx-5 py-4 px-2 grid grid-flow-row grid-cols-1">
      <div class="text-2xl">Fiesta</div>

    </footer>

    <%= render CommonView, "flash_message.html", conn: @conn, class: "fixed p-6 md:p-0 md:top-8 md:right-1/2 z-50 md:transform md:translate-x-1/2" %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
