<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Fiesta · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="flex flex-col md:flex-none bg-gray-100"
    :class="{ 'overflow-x-hidden overflow-y-hidden': isDialogOpen }"
    x-data="{ 'isDialogOpen': false }"
    @keydown.escape="isDialogOpen = false">

    <header class="shadow-xl">
      <section class="bg-white py-6">
        <div class="flex pl-4 px-4 items-center">
          <div class="w-1/2">
            <h3 class="float-left">Fiesta.io</h3>
          </div>
          <div class="w-1/2 flex justify-end -mx-2">
            <%= if current_user(@conn) do %>
              <%= button "Go to Dashboard", to: Routes.dashboard_path(@conn, :index), method: :get,
                class: "p-1 md:p-2 border-4 border-black font-semibold hover:text-white hover:bg-black" %>
            <% else %>
              <button
                class="p-1 md:p-2 border-4 border-black font-semibold hover:text-white hover:bg-black"
                @click="isDialogOpen = true">
                Log in / Sign up
              </button>
            <% end %>
          </div>
        </div>
      </section>
    </header>

    <div class="flex-col md:flex md:flex-row-reverse flex-wrap">
      <div class="w-full bg-gray-100">
        <main role="main">
          <%= @inner_content %>
        </main>
      </div>
    </div>

    <%= render CommonView, "flash_message.html", conn: @conn, class: "fixed p-6 md:p-0 md:top-8 md:right-1/2 z-50 md:transform md:translate-x-1/2" %>

    <div class="overflow-auto bg-black bg-opacity-50" x-show="isDialogOpen" :class="{ 'fixed inset-0 z-50 flex items-center justify-center': isDialogOpen }" @click.self="isDialogOpen = false">
      <div x-show="isDialogOpen" class="modal-container bg-white w-full md:w-1/3 md:max-w-modal-s mx-auto rounded-xl shadow-md z-50 overflow-y-auto" x-on:keydown.escape="isDialogOpen = false">
        <div class="modal-content">
          <%= live_render(@conn, FiestaWeb.Page.ModalLive) %>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
