.icon {
  fill: white;
}
  
.logo {
  fill: black;
}

.plans {
  background: url(/images/plans_bg.jpg) no-repeat center;
  background-size: cover;
}

.free-plan {
  background: url(/images/free_plan_bg.jpg) no-repeat center;
  background-size: cover;
}

.premium-plan {
  background: url(/images/premium_plan_bg.jpg) no-repeat center;
  background-size: cover;
}

.invalid-feedback {
  @apply text-red-500 text-sm;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  @apply hidden;
}

.alert-warning {@apply bg-orange-300;}
.alert-error {@apply bg-red-300;}
.alert-info {@apply bg-gray-300;}
.alert-success {@apply bg-green-300;}

.text-warning {@apply text-orange-900;}
.text-error {@apply text-red-900;}
.text-info {@apply text-gray-900;}
.text-success {@apply text-green-900;}

@screen md {
  .setting-screen {
    height: calc(100vh - theme('spacing.16'));
  }
}
