.icon {
  fill: white;
}
  
.logo {
  fill: black;
}

.plans {
  background: url(/images/plans_bg.jpg) no-repeat center;
  background-size: cover;
}

.free-plan {
  background: url(/images/free_plan_bg.jpg) no-repeat center;
  background-size: cover;
}

.premium-plan {
  background: url(/images/premium_plan_bg.jpg) no-repeat center;
  background-size: cover;
}

.help-block {
  @apply text-red-500 text-sm;
}