<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Katoto · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-200">
    <header>
      <section class="bg-white py-2">
        <div class="flex pl-4 px-4 items-center">
          <div class="w-4/5">
            <h1 class="float-left">Katoto</h1>
          </div>
          <div class="w-1/5">
            <a class="float-right px-3" href="#">Log In</a>
            <a class="float-right px-3" href="#">About Us</a>
          </div>
        </div>
      </section>
    </header>
    <main role="main" class="flex flex-grow">
      <p class="alert alert-info d-none" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger d-none" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="text-center">
      Katoto Chat Web Application &copy; 2020
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
