<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Katoto · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="flex flex-col md:flex-none bg-gray-100">
    <header class="md:hidden">
      <section class="bg-white py-2">
        <div class="flex pl-4 px-4 items-center">
          <div class="w-full">
            <h3 class="float-left">Katoto</h3>
          </div>
        </div>
      </section>
    </header>

    <div class="flex-col md:flex md:flex-row-reverse flex-wrap">

      <div class="sm:w-full sm:flex-grow md:flex-grow-0 md:w-19/20 bg-gray-100">
        <main role="main">
          <p class="alert alert-info d-none" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger d-none" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
        </main>
      </div>

      <div class="w-full my-auto md:flex md:flex-col md:justify-between md:w-1/20 bg-gray-900 text-center fixed bottom-0 md:pt-2 md:top-0 md:left-0 h-10 md:h-screen md:border-r-1 md:border-gray-600">
        <div class="md:relative mx-auto">
          <ul class="list-reset flex md:flex-col text-center md:text-left py-1 md:py-0">
            <li class="my-auto py-1 px-1 md:flex-1 bg-white rounded-sm h-10 w-10 md:h-8 md:w-8 lg:h-10 lg:w-10 xl:h-12 xl:w-12 font-bold text-3xl mx-auto mb-5 lg:block hidden md:block">
              <img src="<%=Routes.static_path(@conn, "/images/temporary_logo.png") %>">
            </li>
            <li class="sm:my-auto md:flex-1 text-white mx-auto md:my-3 md:mt-5">
              <a href="#">
                <%= icon_tag @conn, "lobby", class: "h-8 w-8 md:h-6 md:w-6 lg:h-8 lg:w-8 xl:h-10 xl:w-10 mx-auto" %>
              </a>
            </li>
            <li class="sm:my-auto md:flex-1 text-white mx-auto md:my-3">
              <a href="#">
                <%= icon_tag @conn, "chat", class: "h-8 w-8 md:h-6 md:w-6 lg:h-8 lg:w-8 xl:h-10 xl:w-10 mx-auto" %>
              </a>
            </li>
            <li class="sm:my-auto md:flex-1 text-white mx-auto md:my-3">
              <a href="#">
                <%= icon_tag @conn, "settings", class: "h-8 w-8 md:h-6 md:w-6 lg:h-8 lg:w-8 xl:h-10 xl:w-10 mx-auto" %>
              </a>
            </li>
          </ul>
        </div>
      </div>



    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
