<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Kusina · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="flex flex-col md:flex-none bg-gray-100">
    <header class="md:hidden">
      <section class="bg-white py-2">
        <div class="flex pl-4 px-4 items-center">
          <div class="w-full">
            <h3 class="float-left">Kusina</h3>
          </div>
        </div>
      </section>
    </header>

    <div class="flex-col md:flex md:flex-row-reverse flex-wrap">

      <div class="sm:w-full sm:flex-grow md:flex-grow-0 md:w-19/20 bg-gray-100 mb-12 md:mb-0">
        <main role="main">
          <p class="alert alert-info d-none" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger d-none" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= @inner_content %>
        </main>
      </div>

      <%= render "menu.html", conn: @conn %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
