<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Kusina · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="flex flex-col md:flex-none bg-gray-100" x-data="{menuExpanded: true}">
    <div class="flex-col md:flex md:flex-row-reverse flex-wrap">

      <div class="sm:w-full sm:flex-grow md:flex md:flex-col md:flex-grow-0 md:w-5/6 bg-gray-100 mb-16 md:mb-0 transition-all duration-500 ease-in-out"
        :class="{ 'md:w-full': menuExpanded === false }">
        <%= render CommonView, "top_bar.html", conn: @conn %>
        <main role="main">
          <%= @inner_content %>
        </main>
      </div>

      <%= render "menu.html", conn: @conn %>
    </div>

    <%= render CommonView, "flash_message.html", conn: @conn, class: "fixed p-6 md:p-0 md:top-8 md:right-3.5 z-50" %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
