<div class="flex flex-grow">
  <div class= "w-1/5 px-1 pt-3 pb-2">
  <div class="p-4 card bg-white-500 h-full">adsfasdfasdfasdfsfs</div>
  </div>
  <div class= "w-4/5 px-1 pt-3 pb-2">
    <div class="flex flex-col p-4 card bg-white-500 h-full">
      <div class="flex-grow"> chat goes here </div>
      <div class=""> testing </div>
    </div>
  </div>
</div>